@model IEnumerable<sistema.Models.Noticia>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <a id="home-index-card-group-title" class="card-title" asp-controller="Noticia" asp-action="Index" asp-route-id="@item.NoticiaID">@Html.DisplayFor(modelItem => item.Titulo)</a>
      </div>
    </div>
  </div>
}
